apiVersion: apps/v1beta1
kind: Deployment
metadata:
  creationTimestamp: null
  name: {{ fluentd_name }}-fluentd
  labels:
    app: fluentd
    fluentd-name: {{ fluentd_name }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: fluentd
      fluentd-name: {{ fluentd_name }}
  template:
    metadata:
      labels:
        app: fluentd
        fluentd-name: {{ fluentd_name }}
    spec:
      containers:
      - env:
        - name: VERBOSE
{% if debug == "true" %}
          value: "true"
{% endif %}
{% if fluentd_external_name is defined %}
        - name: FORWARD_LISTEN_HOST
          value: {{ fluentd_external_name }}
{% endif %}
        image: {{ fluentd_image }}
        imagePullPolicy: Always
        name: fluentd
        resources:
          limits:
            cpu: 100m
        terminationMessagePath: /dev/termination-log
        volumeMounts:
{% for cm_name in subdirs.stdout_lines %}
        - name: {{ cm_name }}-fluent-conf
          mountPath: /etc/fluent/{{ cm_name }}
          readOnly: true
{% endfor %}
{% if certs_dir is defined %}
        - name: fluent-certs
          mountPath: /etc/fluent/muxkeys
          readOnly: true
{% endif %}
      volumes:
{% for cm_name in subdirs.stdout_lines %}
      - name: {{ cm_name }}-fluent-conf
        configMap:
          name: {{ fluentd_name }}-{{ cm_name }}-fluent-conf
{% endfor %}
{% if certs_dir is defined %}
      - name: fluent-certs
        secret:
          secretName: {{ fluentd_name }}-fluentd-certs
{% endif %}
  triggers:
  - type: ConfigChange
status: {}
